 /*Bem vindo*/

.content{

    padding: 16px;
    text-align: center;
    margin-top: 3%;

}

.content h1, .content p{

    width: 400px;
    margin:1px auto;

}

.content h1{

    background: linear-gradient(to bottom right, rgb(24, 111, 211),rgb(0, 119, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:60px;
    text-transform: uppercase;

}

.content p{

    color:#3f3f3f;
    font-size: 25px;

}



/*--Form Login--*/


.box{

    max-width: 600px;
    width: 40%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
    border:1px solid rgb(136, 136, 136) ;
    border-radius: 2%;
    background-color: rgb(236, 236, 236);
    margin-top: 5%;
    
    
}



.box-login h1{
  
    background: linear-gradient(to bottom right, rgb(22, 63, 110),rgb(53, 100, 155));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 70px;
    margin-top: 0%;
  
}

.box-login input[id = "user"],
.box-login input[id = "senha"]{
  
    background: none;
    margin: 20px auto ;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 10px;
    width: 70%;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.5s;
    
   
}

  .box-login input[id = "user"]:focus,
  .box-login input[id = "senha"]:focus{
  
    
    width: 73%;
    border-color: rgb(0, 119, 255);
    transition: 0.5s;
    
}

.box-login input[type = "submit"]{
  
    border:0;
    background: none;
    display: block;
    margin: 20px auto 25px auto;
    width: 200px;
    text-align: center;
    border: 2px solid rgb(0, 119, 255);
    padding: 14px 40px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition:0.5s;  
    cursor: pointer;
}

  .box-login input[type = "submit"]:hover{
    
    color: rgb(255, 255, 255);
    background:rgb(0, 119, 255);
    transition:0.5s;
    
}
   
  
.cadastro input[name = "se-nao-tem-login"]{
  
    border:0;
    background: none;
    display: block;
    margin: auto auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: -1rem;
    outline: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1rem;
   
}
  
.cadastro input[type = "submit"]{
    
    margin: 2% auto;
    transition:0.5s
  
}
  
.cadastro input[type = "submit"]:hover{
  
   color: rgb(0, 119, 255);
   transition:0.5s
  
}
  
.text-box{
  
    display: flex;
    justify-content: center;
    padding: 0 110px;
    
    
    
}
    
.text-box [name = "user"],.text-box [name = "password"]{
    
      height: 14px;
      margin-top: 9%;
      margin-left: 0%;
      color:rgb(0, 119, 255);
  
}
  
    
  


.color{

    background-image: linear-gradient(to bottom right, rgb(22, 63, 110),rgb(53, 100, 155));
    margin-top: 1%;
    width: 100%;
    height: 28rem;
    

}

/*--Footer--*/

footer{

    background-color: rgb(54, 54, 54);
    margin-top: 15%;
    width: 100%;
    height: 17rem;
    color: white;

}



@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



