*{

    background-color: transparent;
    color: rgb(36, 36, 36);

    font-family: 'Poppins', sans-serif;

}

html{

--bg: rgb(250, 247, 253);
  --color-border:  rgba(0, 0, 0, 0.199);


}

body{

    margin: 0;

    display: flex;
    
    padding: 0;

   

    background-color: var(--bg);
    height: fit-content;

}

.container{

    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

    padding-top: 70px;

}

textarea{

    overflow: hidden;

}

.btSubmit{

    
        color: rgba(75, 75, 75, 0.712);
            font-size: 16px;
        
            padding: 4px 20px;
            border-radius: 30px;
            background-color: rgba(255, 202, 43, 0.555);
            transition: 0.25s;
                
}

.btSubmit:hover{
            color: rgb(75, 75, 75);
                font-size: 16px;
            
                padding: 4px 20px;
                border-radius: 30px;
                transition: 0.25s;
                background-color: rgb(255, 202, 43);
            
            }

ul{

    list-style: none;
    padding: 0;

}

ul li a, a{

    text-decoration: none;

}

button{

    border: 0;

}

button:hover{

    cursor: pointer;

}

.hr{

    margin: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);

}