header{

    height: 75px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
position: fixed;
z-index: 100000;
background-color: var(--bg);
    
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);

}

.container.header{

    
    height: 40%;
    
    padding-top: 0;
    justify-content: center;
    align-items: center;

    gap: 30%;

}

#nav-help{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}


#nav-login{

    display: flex;
    align-items: center;

}

.warp.hide{

display: none;

}

.warp button{

    font-size: 15px;

}

.seuPerfil{

    display: flex;
    align-items: center;
    gap: 5px;

}

.userPerfil{

    display: flex;
    flex-direction: column;
    

}

#drop{

    border: 0;

}

.btn-help{

    width: 24px;
    height: 24px;

}

.btn-help button{

    padding: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;

}

.warp{

    width: 100%;
    margin-top: 5vh;
    background-color: var(--bg);

}


.warp ul{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    width: 100%;

    gap: 5px;

    margin: 0;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
    
    border-radius: 1px;

}


.warp ul li{
    width: 100%;

    font-size: 15px;
    padding: 5px;
    box-sizing: border-box;

}

.warp ul li a{
    width: 100%;}

.warp ul li:hover{

    background-color: rgb(243, 243, 243);

}


