.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;

    overflow: auto;
      max-height: 80%;
}
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
      display: flex;
      flex-direction: column;
      
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }


.container.home{

   
    justify-content: flex-end;
    gap: 20px;
    

}

.mainHome{

    width: 60%;
    display: flex;
    flex-direction: column;
   padding-top: 12px;
   border: 1px solid var(--color-border);
   

}



.partHeader{

    width: 100%;

}


.imgHome img{

    width: 90px;
    height: 90px;

}

.imgHome{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.publicacao{

    border-top: 1px solid var(--color-border);

}

.comentText{
width: 100%;
    margin: 0 auto;

}

textarea {

width: 90%;
 box-sizing: border-box;
 border: 0;
 resize: none;
}

textarea:focus{

 outline: none;

}

.textCont{

    resize: none;
    border: 0;
    width: 100%;
    height: 100%;

}

.publi1{

    width: 100%;
    display: flex;
    justify-content: center;

}

.publi2{

    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.estrelar{

margin-right: 1vh;
   

}


.hr.inicial{

    margin: 1vh auto 6vh auto;

}

.hr{

    margin: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}

form.publicar{

    display: flex;
    flex-direction: column;
   align-items: flex-end;
   

}
form.publicar input{

    width: 100%;

}

form.publicar button{

    float: right;

}

.publicados{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.publicados .hr{

    width: 100%;
    
    margin: 1vh auto 4vh auto;

}

.publica{

    align-items: center;
    width: 95%;
    gap: 4px;
    margin: 0 auto;
    display: flex;
    

}



.publica .p1{

    width: 100%;
    display: flex;
    flex-direction: column;

}

.publica .p2{

    gap: 4px;
    display: flex;
    

}

.publicaTwo{
width: 95%;
margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    align-items: center;

}

 .p11, .p12{

    align-items: center;
    display: flex;

}

.comentarios{
transition: 0.5s;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border: 1px solid var(--color-border);

}

.comentarios.hide{
    transition: 0.5s;
    border: 0;
    height: 0;
    overflow: hidden;

}







.noticias{

    
    width: 25%;
    padding-top: 12px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

.notiTitle{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.noticia{

    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;

    
}



.manchete{

    display: flex;
    align-items: center;
    gap: 5px;


}

.contNoti{

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.dataNoti, .categoriaNoti{

    font-style: italic;

}

.formNoti .inp{

    display: flex;
    flex-direction: column;

}

.formNoti input{

    order: 1px solid var(--color-border);
    border-radius: 3px;
    outline: none;

}

.formNoti button{

    width: fit-content;
    float: right;

   

}

.formNoti .btnSubNoti{

    margin-top: 10px;

    width: 100%;

}

.contNoti{

    

}
