.container.index{

    flex-direction: column;
    align-items: center;

}

.contentIndex{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.box{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.box-login{

    border: 1px solid var(--color-border);
    padding: 4vh;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ponteHome img{

    width: 90px;
    height: 90px;

}