




.mainPerfil{
margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

}

.avatar{

    width: 128px;
    height: 128px;
    

}

.partPerfil{

    display: flex;
    align-items: center;
    gap: 1vw;
    border: 1px solid var(--color-border);
    width: 80%;
    height: 20vh;
    margin: 0 auto;
    justify-content: center;

    border-radius: 5px;

}




.publica {
        align-items: center;
        width: 95%;
        gap: 4px;
        margin: 0 auto;
        display: flex;
        padding: 2vh;
        box-sizing: border-box;
}


    





.publica .p1{

    width: 100%;
    display: flex;
    flex-direction: column;

}

.publica .p2{

    gap: 4px;
    display: flex;
    

}

.foot{

    display: flex;
    justify-content: space-between;

}

.publicacao{

    border-top: 1px solid var(--color-border);

}

.comentText{
width: 100%;
    margin: 0 auto;

}

textarea {

width: 90%;
height: fit-content;
 box-sizing: border-box;
 border: 0;
 resize: none;
}

textarea:focus{

 outline: none;

}

.textCont{

    resize: none;
    border: 0;
    width: 100%;
    height: 100%;

}

.publi1{

    width: 100%;
    display: flex;
    justify-content: center;

}

.publi2{

    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.estrelar{

margin-right: 1vh;
   

}


.hr.inicial{

    margin: 1vh auto 6vh auto;

}

.hr{

    margin: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}

form.publicar{

    display: flex;
    flex-direction: column;
   align-items: flex-end;
   

}
form.publicar input{

    width: 100%;

}

form.publicar button{

    float: right;

}

.publicados{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--color-border);
    padding: 2vw;
    box-sizing: border-box;

}
.publica{

    align-items: center;
    width: 95%;
    gap: 4px;
    margin: 0 auto;
    display: flex;
    

}



.publica .p1{

    width: 100%;
    display: flex;
    flex-direction: column;

}

.publica .p2{

    gap: 4px;
    display: flex;
    

}

.publicaTwo{
width: 95%;
margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    align-items: center;

}

 .p11, .p12{

    align-items: center;
    display: flex;

}
