:root{

    --cor-azul-txt: linear-gradient(to bottom right, rgb(24, 111, 211),rgb(0, 119, 255));
    --cor-fundo: linear-gradient(to bottom right, rgb(22, 63, 110),rgb(53, 100, 155));
    --cor-botao: rgb(0, 119, 255);
    --cor-botao-borda: rgb(0, 119, 255);
    --cor-icons: rgb(0, 119, 255);
    
    }
 
 /*Content TXT*/

.content{

    padding: 16px;
    text-align: center;
    margin-top: 3%;

}

.content h1, .content p{

    width: 400px;
    margin:1px auto;

}

.content h1{

    background: var(--cor-azul-txt);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:60px;
    text-transform: uppercase;

}

.content p{

    color:#3f3f3f;
    font-size: 25px;

}



/*--Form Login--*/


.box{

    max-width: 600px;
    width: 40%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
    border:1px solid rgb(136, 136, 136) ;
    border-radius: 2%;
    background-color: rgb(236, 236, 236);
    margin-top: 5%; 
    
}

.box-login h1{
  
    background: linear-gradient(to bottom right, rgb(22, 63, 110),rgb(53, 100, 155));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 70px;
    margin-top: 0%;
  
}

.box-login input[id = "user"],
.box-login input[id = "senha"]{
  
    background: none;
    margin: 20px auto ;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 10px;
    width: 90%;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.3s;
   
}

.box-login input[id = "user"]:focus,
.box-login input[id = "senha"]:focus{
    
    width: 93%;
    border-color: var(--cor-botao-borda);
    transition: 0.3s;
    
}

.box-login input[type = "submit"]{
  
    border:0;
    background: none;
    display: block;
    margin: 20px auto 25px auto;
    width: 200px;
    text-align: center;
    border: 2px solid var(--cor-botao-borda);
    padding: 14px 40px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition:0.5s;  
    cursor: pointer;

}

  .box-login input[type = "submit"]:hover{
    
    color: rgb(255, 255, 255);
    background: var(--cor-botao);
    transition:0.5s;
    
}
   
a{

    text-decoration: none;

}

#cadastro-btn-delim{

    width: 280px;
    margin: auto;

}

#cadastro-btn input{
  
    border:0;
    background: none;
    display: block;
    padding: 0;    
    width: 100%;

    outline: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;

    transition: all 0.4s ease;
   
}
  
  
#cadastro-btn input:hover{
  
   color: var(--cor-botao-borda);
   transition: all 0.4s ease;
  
}
  
.text-box{
  
    display: flex;
    justify-content: center;
    padding-left: 70px;
    padding-right: 100px;

    width: 100%;
    
}

/*icons*/
    
.text-box [name = "user-icon"],.text-box [name = "password-icon"]{
    
    height: 14px;
    margin-top: 10%;
    margin-right: 4%;
    color:var(--cor-icons);
  
}

.color{

    background-image: var(--cor-fundo);
    margin-top: 1%;
    width: 100%;
    height: 430px;

    margin-bottom: 6%;
    
}