main{
  background-color: rgb(236, 236, 236);
}

/*Delimitação de Conteúdo*/

.content-topo,
.content-left,
.content-principal,
.content-right {
  background-color: rgb(236, 236, 236);
  border: 1px solid transparent;
  border-radius: 8px;
}

.container-topo,
.container-left,
.container-principal,
.container-right {
  padding: 10px;
}

.content-topo {
  height: 200px;
  width: 100%;
  margin: 0;
}

.container-left {
  width: 14.5%;
  margin: 0;
  float: left;
  height: 100vw;
}

.content-left {
  max-width: 400px;
  width: 100%;
  margin: 0;
  float: left;
  height: 100vw;
}

.container-principal {
  margin: 0;
  padding: 10px;
  height: 100vw;
  width: 1200px;
  margin: 0 auto;
}

.content-principal {
  margin: 0;
  height: 100vw;
  padding: 25px;
}

.container-right {
  width: 14.5%;
  margin: 0;
  float: right;
  height: 100vw;
}

.content-right {
  max-width: 400px;
  width: 100%;
  margin: 0;
  float: right;
  height: 100vw;
}

/*End-Delimitação de Conteúdo*/

/*Conteúdo Principal*/

.publicacao {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;

  padding: 10px;
}

.caixa-perfil {
  width: 200px;
  height: 300px;
  background-color: rgb(236, 236, 236);
}

.avatar-perfil {
  width: 90px;
  height: 90px;

  border: 2px solid rgb(0, 132, 255);
  border-radius: 8px;

  padding: 1px;

  margin: auto;
}

.publicar {
  width: 70%;
  height: 350px;
  border-radius: 8px;

  margin-right: 100px;

  display: flex;
  flex-direction: column;
}



#avatar-publi {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.nome-perfil {
  width: 100%;
  text-align: center;
}

.publicar button[type="submit"] {
  background-color: transparent;
  border: 1px solid rgba(133, 133, 133, 0.171);
  border-radius: 5px;

  padding: 5px;

  font-size: 15px;
  color: rgb(53, 53, 53);

  width: 85px;
  margin-left: 59%;
  margin-top: 5px;
  outline: none;
}

.publicar button[type="submit"]:hover {
  border: 1px solid rgb(133, 133, 133);
  cursor: pointer;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  resize: none;
  width: 100%;
  height: 280px;

  border: 1px solid rgb(133, 133, 133);
  border-radius: 6px;

  background-color: rgb(236, 236, 236);

  outline: none;

  padding: 15px;
}

textarea:focus {
  border: 1px solid rgb(0, 0, 0);
}

textarea[placeholder="Escreva sua publicação aqui..."] {
  font-size: 20px;
}
.separator {
  width: 93%;
  border-bottom: 1px solid rgba(131, 131, 131, 0.438);
  margin: 150px auto auto auto;

  margin-bottom: 120px;
}

#publicados {
  width: 100%;
  height: 350px;
  display: flex;

  margin-bottom: 100px;
}

#publicados .container {
  display: flex;
  margin-bottom: 120px;
}

.publiGo {
  width: 75%;
}

.publi-dados {
  width: 100%;
  height: 350px;

  border: 1px solid rgb(133, 133, 133);
  border-radius: 6px;

  background-color: rgb(236, 236, 236);

  padding: 15px;

  margin-bottom: 10px;
}
