.container.suporte{

    display: flex;
    flex-direction: column;

}

.mainSuporte{
    padding-top: 12px;
width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vh;

}
.mainSuporte h3{

    text-align: center;

}


.formSup{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    max-width: 700px;

}

.formSup .btSubmit{
    margin-top: 1vh;
    float: right;

    width: fit-content;

}

.contSup{

    
font-size: 17px;
padding: 1vh;
height: fit-content;
    margin: 0 auto;
    width: 100%;
box-sizing: border-box;
    resize: none;
}

.mainSuporte.adm{

    border: 1px solid var(--color-border);
    border-top: 0;
    border-bottom: 0;
    width: 70%;
    margin: 0 auto;

    padding: 25px;
    box-sizing: border-box;

}

.mainSuporte.adm h4{

    margin: 0;
    


}
span{

    word-break: break-all;
    overflow: auto;
    max-width: 100%;

}

.mainSuporte ul{

    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;



}

.mainSuporte li{

    display: flex;
    align-items: center;
    gap: 7px;


}

.hr{

    margin: 10px 0;

}









