.mainSuporte{
    padding-top: 12px;
width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formSup{
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-end;

}

.formSup .btSubmit{
    margin-top: 1vh;
    float: right;

    width: fit-content;

}

.contSup{

    
font-size: 17px;
padding: 1vh;
height: fit-content;
    margin: 0 auto;
    width: 100%;

    resize: none;
}