<form class="box-login" method="post">
        
      <h1>Login</h1>
    
        <div class="text-box">
            <i class="far fa-user" aria-hidden="true" name="user">
            </i><input type="text" maxlength="15" minlength="4" name="loginjs" placeholder="Usuário ou email">
        </div>
          
        <div class="text-box">
            <i class="far fa-lock" aria-hidden="true" name="password"></i>
            <input type="password" maxlength="32" minlength="8" name="passwordjs" placeholder="Senha">
        </div>
    
      <input type="submit" name="submit--" value="Confirmar">
    
    
    </form> 
    
    <form class="cad" action="cadastro.html" method="POST">
      </i><input type="submit" action="cadastro.html" name="cadastro--" value="Se não tem um login, Cadastre-se">
    </form>