<!DOCTYPE html>
<html lang="pt-br">

  <!--Head-->

  <%- include('parts/page-head', { title :'Home', linkCss:'/css/style-home.css', linkHeader :'/css/style-header.css'}) %> 

  <!--Head-->

  <body>

    <!--Header-->

    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->
    <%- include('parts/page-header', { title : ''}) %>

    <!--Header-->

    <div id="primary-content">

      <!--<div class="container-topo">
        <div class="content-topo"></div>
      </div>-->

      <div class="container-left">
        <div class="content-left"></div>
      </div>

      <div class="container-right">
        <div class="content-right"></div>
      </div>

    </div>

    <main>

      <div class="container-principal">
      <div class="content-principal">

        <div class="publicacao">

          <div class="caixa-perfil">
            <div class="avatar-perfil">
            <img src="" class="avatar-publi" />
            </div>
            <div class="nome-perfil"><h3></h3></div>
          </div>

          <form action="/publicar" name="textPublicar" method="POST" class="publicar">
            <textarea
            maxlength="140"
            name="conteudo"
            placeholder="Escreva sua publicação aqui..."
            ></textarea>

            <button type="submit">Publicar</button>
          </form>

        </div>
      
      </div>
      </div>
      
    </main>

    <%- include ('parts/page-footer') %>

 

  </body>

</html>
