<!DOCTYPE html>

<html lang="pt-br">
  <!--Head-->

  <%- include('parts/page-head', { title : 'Login', linkCss:'/css/style-index.css', linkHeader : '/css/style-header-login.css'} ) %>

  <!--Head-->

  <body>
    <!--Header-->

    <%- include('parts/page-header-login', { title : ''}) %>
    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->

    <!--Header-->

    <main>
      <div class="content">
        <h1>Bem Vindo</h1>
        <p>Vamos codar juntos :D</p>
      </div>

      <div class="box">
        <form class="box-login" method="post" action="/home">
          <h1>Login</h1>

          <div class="text-box">
            <i class="far fa-user" aria-hidden="true" name="user-icon"> </i>
            <input
              type="text"
              id="user"
              maxlength="15"
              minlength="4"
              name="login"
              placeholder="Usuário ou email"
            />
          </div>

          <div class="text-box">
            <i class="far fa-lock" aria-hidden="true" name="password-icon"></i>
            <input
              type="password"
              id="senha"
              maxlength="32"
              minlength="8"
              name="password"
              placeholder="Senha"
            />
          </div>
          <button id="submit">Confirmar</button>
        </form>
        

        <div id="cadastro-btn-delim">
          <a href="/cadastro" id="cadastro-btn"
            ><input
              type="submit"
              name="se-nao-tem-login"
              value="Se não tem um login, Cadastre-se"
          /></a>
        </div>
      </div>
    </main>

    <div class="color"></div>

    <%- include ('parts/page-footer') %>
  </body>

  <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-auth.js"></script>
</html>
