<!DOCTYPE html>

<html lang="pt-br">


  <%- include('parts/head', { title : 'Login', linkCss:'/css/index.css'} ) %>

 

  <body>
  

    <%- include('parts/header', { title : 'Login'}) %>
   

    <div class="container index">
      <div class="contentIndex">
        <h1>Bem Vindo</h1>
        <p>Seja legal com as pessoas :)</p>
      </div>

      <div class="box">
        <h1>Login</h1>
        <form class="box-login" method="post" action="/">
          

          <% if(erros.length > 1){erros.splice(-1,1)} %> 
          <% erros.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
          
          <div class="text-box">
            
            <i class="far fa-user" aria-hidden="true" name="user-icon"> </i>
            <input
              type="text"
              id="user"
              maxlength="15"
              minlength="4"
              name="user"
              placeholder="user ou email"
            />
          </div>

          <div class="text-box">
            <i class="far fa-lock" aria-hidden="true" name="password-icon"></i>
            <input
              type="password"
              id="senha"
              
              name="password"
              placeholder="Senha"
            />
          </div>
          <button type='submit'id="submit">Confirmar</button>
          <a href="/cadastro" id="cadastro-btn">Se não tem um login, Cadastre-se</a>
        </form>
        

        
          
        
      </div>
      
    </div>

   

    
  </body>

  <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-auth.js"></script>
</html>
