<!DOCTYPE html>

<html lang="pt-br">
  

  <%- include('parts/head', { title : 'Logar-se', linkCss: 'css/logarse.css'} ) %>

  

  <body>
   

    <%- include('parts/header', { title : ''}) %>
    

    <div class="mainLogarse">
     
      <div class="box-login">
        <p>Faça o login para continuar</p>
        <a href="/">Login</a> 
        </div>

        
    </div>


    
  </body>
</html>
