<!DOCTYPE html>

<html lang="pt-br">
  

  <%- include('parts/head', { title : 'Logar-se', linkCss: ''} ) %>

  

  <body>
   

    <%- include('parts/header', { title : ''}) %>
    

    <main>
     
        <a href="/"><p>Faça o login para continuar</p></a> 
        

        
    </main>


    
  </body>
</html>
