<!DOCTYPE html>

<html lang="pt-br">
  <!--Head-->

  <%- include('parts/head', { title : 'Logar-se', linkCss :} ) %>

  <!--Head-->

  <body>
    <!--Header-->

    <%- //include('parts/header', { title : ''}) %>
    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->

    <!--Header-->

    <main>
     
        <a href="/"><p>Faça o login para continuar</p></a> 
        

        
    </main>


    
  </body>
</html>
