<!DOCTYPE html>

<html lang="pt-br">
  <!--Head-->

  <%- include('parts/page-head', { title : 'Sobre Nós', linkCss :
  '/css/style-sobre-nos.css', linkHeader : '/css/style-header.css'} ) %>

  <!--Head-->

  <body>
    <!--Header-->

    <%- include('parts/page-header', { title : ''}) %>
    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->

    <!--Header-->

    <main>
      <div id="container">
        <h1>Sobre Nós</h1>

        <section id="content">
          <p>
            Nos desenvolvemos esse site para o nosso TCC, e além disso no
            intuito de ganhar mais experiência e aprender mais sobre full stack.
          </p>
        </section>

        <h3>Acesse o Footer para ver nossos contatos</h3>
      </div>
    </main>

    <div class="color"></div>

    <%- include ('parts/page-footer') %>
  </body>
</html>
