<!DOCTYPE html>

<html lang="pt-br">
  <!--Head-->

  <%- include('parts/head', { title : 'Sobre Nós', linkCss :
  '/css/sobre.css'} ) %>

  <!--Head-->

  <body>
    <!--Header-->

    <%- include('parts/header', { title : ''}) %>
    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->

    <!--Header-->

    
      <div class="container sobre">
        <div class="sobreC nos">
        <h1>Sobre Nós</h1>

        <section class="content">
          <p>
            Nos desenvolvemos esse site para o nosso TCC, e além disso no
            intuito de ganhar mais experiência e aprender mais sobre full stack.
          </p>
        </section>

        <h3>Acesse o Footer para ver nossos contatos</h3>
      </div>
      <div class="hr"></div>
      <div class="sobreC site">
        <h1>Sobre o nosso site</h1>

        <section class="content">
          <p>
            A Ponte foi criada por nós no intúito de aprendizagem, tanto
            front-end quanto back-end, <br />o que muitos conhecem por full
            stack! <br />E aproveitando esse intúito inserimos nossa ideia no
            nosso TCC (Informática para internet - EtecVAV). Tentamos adicionar
            várias coisas legais ai nosso site para deixa-lo bem dinâmico e
            amigável para todos, contando com uma estrutura de códigos bem
            simples porém completa.
          </p>
        </section>

        <h3>Ferramentas e Linguagens</h3>

        <img src="/img/features1.png" alt="Ferramentas e Linguagens" />
      </div>
    
</div>
      

    

    <%- include ('parts/footer') %>
  </body>
</html>
