<!DOCTYPE html>

<html lang="pt-br">
  <!--Head-->

  <%- include('parts/page-head', { title : 'Suporte', linkCss :
  '/css/style-suporte.css', linkHeader : '/css/style-header.css'} ) %>

  <!--Head-->

  <body>
    <!--Header-->

    <%- include('parts/page-header', { title : ''}) %>
    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->

    <!--Header-->

    <main>

      <div id="main-suporte">
        <h1>Suporte</h1>

        <div class="container">
          <div id="guia">
            <h3>
              Aqui você pode relatar algum bug, ou algum outro problema técnico
              que esteja tendo
            </h3>
          </div>

        <form method="POST" action="/suporte" name="suporteGo">

          <section id="text-area">
            <textarea placeholder="Digite aqui..." name="conteudo"></textarea>
          </section>

        <button type="submit">Enviar</button>

        </form>

        </div>

      </div>

    </main>

    <div class="color"></div>

    <%- include ('parts/page-footer') %>

  </body>

</html>
