<footer>

  <nav>
    <div>
<a href="/home">Home</a>
      <a href="/suporte">Suporte</a>

    </div>
      
      <div>
 <a href="/sobre">Sobre</a>
      <a href="/perfil/<%= userUser %> ">Seu Perfil</a>

      </div>
     
      
    
    
  </nav>

<div class="hr"></div>

  <div class="sociais">
    <a class="repo" target="_blank" href="https://github.com/Ponte-tcc/ponte-website">
    <legend>Contribua com o nosso repositório</legend>

    
    <%if(naoLogado == 2){%>
    <img src="../img/git.png" alt=""></a>
    <%}else{%>
      <img src="/img/git.png" alt=""></a>
      <%}%>
  </div>
  <p>© 2021 — Ponte All Rights Reserved.</p>
</footer>
