<footer>

    <img src="/img/ponte-logo3.png" alt="">

    <nav>
        <div class="column1">
            <a href="/">Home</a>
            <a href="/suporte">Suporte</a>
            <a href="/sobre-nos">Sobre Nós</a>
            <a href="/sobre-site">Sobre o Site</a>
        </div>
        <div class="column2">
            <a href="/login">Login</a>
            <a href="/cadastro">Cadastro</a>
            <a href="/seu-perfil">Seu Perfil</a>
        </div>
    </nav>

    <div class="sociais">
        <legend>Nós siga nas redes sociais</legend>

        <div class="line"></div>

        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>© 2021 — Ponte All Rights Reserved.</p>

</footer>